<h1><%=@questionary.title %>の集計</h1>



<p>回答の一番最初のものは無選択。以後、１つ目の選択肢を選んだ数、２つ目の、、と続きます</p>

<%= link_to "アンケート一覧に戻る" , '/questionaries' %><br>
<%= link_to "他のアンケート結果もみる" , questionary_results_path %>

<br>
<br>

<table>
  <tr><th>質問番号</th><th>質問内容</th><th>集計結果</th></tr>
  
  <% @questionary.questionary_item.each_with_index do |q_item, i| %>
    <tr>
      <td><%= i + 1  %></td>
      <td><%= q_item.content %></td>
      <td> 

        <table>
         
        　<tr>
        	 <% for v in @questionary_chai.to_a[i][1] %>
        　　　<%# @questionary_choice.each do |q_choice| %>
              <td><%= "  " + v.content %>
              	<%#= q_choice.content %></td>
            <% end %>
          </tr>
        </table>
        <table>
         
        　<tr>
            <% for v in @calc.to_a[i][1] %>
              <td><%= v.to_i %></td>
            <% end %>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
</table>

<br><br>

<table><tr><th>コメント一覧</th></tr>
<tr><td>
<% @questionary.questionary_result.each do |q_result| %>

<%= q_result.comment %> 


<% end %>
</td></tr></table>







